### Import Library & Dataset
Mengimport library yang dibutuhkan dan dataset yang akan digunakan. Lalu tampilkan 5 data pertama dari dataset.

In [1]:
import pandas as pd

# mengambil data dari file csv
df = pd.read_csv('transaksi_buku.csv')

# menampilkan 5 data pertama dari dataset
print(df.head())

   No              Nota       Nama Anggota  Kode Anggota  Barcode  \
0   1  PNJM-230102-0001      WENNY WINALTI     1010306.0   113536
1   2  PNJM-230102-0001      WENNY WINALTI     1010306.0   119570
2   3  PNJM-230102-0002              NOFRI     1011248.0   118005
3   4  PNJM-230102-0003  TRIKA ADINDA SARI     1011168.0    60999
4   5  PNJM-230102-0003  TRIKA ADINDA SARI     1011168.0   141286

                                          Judul Buku Tgl. Pinjam  \
0  Mewarnai, Menggunting & Membuat Topeng Monster...  02/01/2023
1  Komik Sufi Rumi: Kisah & Hikmah Pencerah Hati/...  02/01/2023
2  Budidaya & Pemasteran Kacer Siap Menjadi Jawar...  02/01/2023
3  LIMA SEKAWAN: SARJANA MISTERIUS/ ENID BLYTON; ...  02/01/2023
4             Somewhere Called Home/ Dhamala Shobita  02/01/2023

  Tgl. Perpanjang Batas Kembali Tgl. Kembali  Telat              Status  \
0             NaN    09/01/2023   03/01/2023    NaN  Sudah Dikembalikan
1             NaN    09/01/2023   03/01/2023    NaN  Sudah Dikembalikan
2             NaN    09/01/2023   07/01/2023    NaN  Sudah Dikembalikan
3             NaN    09/01/2023   09/01/2023    NaN  Sudah Dikembalikan
4             NaN    09/01/2023   09/01/2023    NaN  Sudah Dikembalikan

  Keterangan
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN

### Cek Info Data
Melihat info data secara umum

In [2]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4036 entries, 0 to 4035
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   No               4036 non-null   int64
 1   Nota             4036 non-null   object
 2   Nama Anggota     4031 non-null   object
 3   Kode Anggota     4031 non-null   float64
 4   Barcode          4036 non-null   int64
 5   Judul Buku       4035 non-null   object
 6   Tgl. Pinjam      4036 non-null   object
 7   Tgl. Perpanjang  446 non-null    object
 8   Batas Kembali    4036 non-null   object
 9   Tgl. Kembali     3929 non-null   object
 10  Telat            107 non-null    float64
 11  Status           4036 non-null   object
 12  Keterangan       1136 non-null   object
dtypes: float64(2), int64(2), object(9)
memory usage: 410.0+ KB
None

### Cek Tipe Data
Melihat tipe data dari setiap kolom pada dataset

In [3]:
print(df.dtypes)

No                   int64
Nota                object
Nama Anggota        object
Kode Anggota       float64
Barcode              int64
Judul Buku          object
Tgl. Pinjam         object
Tgl. Perpanjang     object
Batas Kembali       object
Tgl. Kembali        object
Telat              float64
Status              object
Keterangan          object
dtype: object

### Cek Missing Value
Melihat apakah ada missing value dari setiap kolom pada dataset

In [4]:
print(df.count())

No                 4036
Nota               4036
Nama Anggota       4031
Kode Anggota       4031
Barcode            4036
Judul Buku         4035
Tgl. Pinjam        4036
Tgl. Perpanjang     446
Batas Kembali      4036
Tgl. Kembali       3929
Telat               107
Status             4036
Keterangan         1136
dtype: int64

In [11]:
duplicates = df[df.duplicated(subset=['Nota','Judul Buku'], keep = False)]

duplicates
print(duplicates.count())
print("\nTotal Data Duplikat:", len(duplicates))

No                 66
Nota               66
Nama Anggota       66
Kode Anggota       66
Barcode            66
Judul Buku         66
Tgl. Pinjam        66
Tgl. Perpanjang     4
Batas Kembali      66
Tgl. Kembali       65
Telat               1
Status             66
Keterangan         10
dtype: int64

Total Data Duplikat: 66